{{/* Go 模板的语法demo */}}
这是一个演示文件。该代码从 info.yaml 文件中读取内容，并将数据应用于该模板中，通过模板中的模板语句输出这些内容

这一段是通过结构体来存储 yaml 数据的示例。这里的 Pipeline 中的象都要使用结构体中的大写开头的名字
下面是 info.yaml 中所有的值
{{ . }}

代码维护者：{{ .Name }}

用户信息列表：
{{- range .User}}
用户名：{{.Name}}
{{- end}}

nginx 监听端口为：{{ .Nginx.Port }}
